body{
    background-color:white;
}
#menu_do_robo {
    margin:5px;
    padding:100px;
    margin-right: 600px;
    display:flex;
    background-color:rgb(200, 226, 243);
    border-radius:30px;
}

.icone_opcao {
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items:center;
}
.opcao{
    display: flex;
    align-items: center;
    justify-content: center;}
h5{
      height:25px;
    width:100px;
    color:white;
    margin-left: 200px;
     background-color:blue;
    align-items:center;
    justify-content: center;
    flex-wrap:wrap;
   height: 25px;
   width:400px;
    border-radius:40%;
    border: 2px solid rgb(0, 0, 0);

}
h3{
    display:flex;
    color:blue;
    font-family:sans-serif;
}
#botao {
  height:25px;
    width:100px;
     display:flex;
    color:white;
    background-color:blue;
    align-items:center;
    justify-content: center;
    flex-wrap:wrap;
    padding:5px;
    border-radius:40%;
    border: 2px solid rgb(0, 0, 0);
}
#robo{
     display:flex;
    width: 250px;
    height: 250px;
}

h1{
font-family: Arial, Helvetica, sans-serif;
padding-left: 8px;
}

p{
font-family: Arial, Helvetica, sans-serif;
}

#undo{
transform: scaleX(-1);
}
#Square90{
transform: rotate(270deg)
}
#Square180{
transform: rotate(180deg)
}
#barber{
width:2200px;
height: 32px;
}

#botoes2{
display: flex;
text-align: center;
justify-content: left;
align-items: top;
padding: 10px;
gap: 20px;
border: 1px solid rgb(0, 0, 0);

}
.botao2{
    display: flex;
    gap: 4px;
    align-items: center;
    background-color: rgb(202, 202, 202);
    border: 1px solid rgb(0, 0, 0);
    padding-left: 12px;
    padding-right: 12px;
}
.icons{
height: 32px;
width: 32px;
}

#Navigation{
    display: flex;
    background-color: rgb(211, 211, 211);
    gap: 24px;
    width: 25%;
}

#pages{
    font-family: arial, sans-serif;
    font-size: 18px;
}
.border{
    border-spacing: 0;
    width: 25%;
    display: table;
    border: 1px solid #3f3f3f;
}
th{
    background-color: rgb(139, 139, 139);
    border: 1px solid #3f3f3f;
    padding: 6px;
}
td{
    background-color: rgb(199, 199, 199);
    border: 1px solid #3f3f3f;
    padding: 6px;
}

