body{
background-color: rgb(190, 190, 190);
margin: 0px;
}

h1{
font-family: Arial, Helvetica, sans-serif;
padding-left: 8px;
}
h3 {
    display:flex;
    color:blue;
    font-family:sans-serif;
    
p{
font-family: Arial, Helvetica, sans-serif;
}

#undo{
transform: scaleX(-1);
}
#Square90{
transform: rotate(270deg)
}
#Square180{
transform: rotate(180deg)
}
#barber{
width:2200px;
height: 32px;
}

#botoes{
display: flex;
text-align: center;
justify-content: left;
align-items: top;
padding: 10px;
gap: 20px;
border: 1px solid rgb(0, 0, 0);

}
.botao{
    display: flex;
    gap: 4px;
    align-items: center;
    background-color: rgb(202, 202, 202);
    border: 1px solid rgb(0, 0, 0);
    padding-left: 12px;
    padding-right: 12px;
}
.icons{
height: 32px;
width: 32px;
}